@layer components {
  dl {
    /* This represents any wrapping component around the description term and description detail elements */
    & > * {
      & > dt {
        &:first-child {
          padding-top: 0.5rem;
        }

        padding-inline: 0.5rem;
        font-weight: 600;
        line-height: 1.5;
      }

      & > dd {
        border-bottom: 1px solid var(--border);
        padding-inline: 0.5rem;
        padding-bottom: 0.5rem;
        text-wrap: balance;
      }

      &:last-of-type > dd {
        border-style: none;
      }
    }

    & > dt {
      padding-inline: 0.5rem;
      font-weight: 600;
      line-height: 1.5;

      &:first-child {
        padding-top: 0.5rem;
      }

      &:has(+ dd) {
        margin-bottom: 0.25rem;
      }
    }

    & > dd {
      padding-inline: 0.5rem;
      text-wrap: balance;

      &:has(+ dd) {
        margin-bottom: 0.25rem;
      }

      & + dt {
        padding-top: 0.5rem;
      }

      &:not(:has(+ dd)) {
        border-bottom: 1px solid var(--border);
        padding-bottom: 0.5rem;

        &:not(:has(+ dt)) {
          border-style: none;
        }
      }
    }
  }
}
