@layer components {
  img[src] {
    border-radius: calc(var(--radius) + 4px);
  }

  figure {
    width: fit-content;

    .caption,
    figcaption {
      margin-top: 0.75rem;
      color: var(--muted-foreground);
      font-size: 0.875rem;
      line-height: 1.25rem;
      text-align: center;
    }
  }
}
