@layer components {
  table {
    width: 100%;
    caption-side: bottom;
    font-size: 0.875rem;
    line-height: 1.25rem;

    /* TL;DR - table elements do not handle border radius with borders well... */
    &.card {
      border-color: transparent;
      outline: 1px solid var(--border);
    }

    thead tr {
      border-bottom: 1px solid var(--border);
    }
    tbody tr:last-child {
      border-width: 0;
    }
    tfoot {
      border-top: 1px solid var(--border);
      background-color: color-mix(in oklab, var(--muted) 50%, transparent);
      font-weight: 500;

      > tr:last-child {
        border-bottom-width: 0;
      }
    }
    tr {
      border-bottom: 1px solid var(--border);
      transition:
        color 150ms,
        background-color 150ms,
        border-color 150ms;

      &:hover {
        background-color: color-mix(in oklab, var(--muted) 50%, transparent);
      }
    }
    th {
      height: 2.5rem;
      padding-inline: 0.5rem;
      color: var(--foreground);
      font-weight: 500;
      text-align: left;
      vertical-align: middle;
      white-space: nowrap;

      &:has([role="checkbox"]) {
        padding-right: 0;
      }

      > [role="checkbox"] {
        translate: 0 2px;
      }
    }
    td {
      padding: 0.5rem;
      vertical-align: middle;
      white-space: nowrap;

      &:has([role="checkbox"]) {
        padding-right: 0;
      }

      > [role="checkbox"] {
        translate: 0 2px;
      }
    }
    caption {
      margin-top: 1rem;
      color: var(--muted-foreground);
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }
}
