@layer typography {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin: 5rem;
    font-weight: 600;
    letter-spacing: -0.025em;
    text-wrap: balance;

    &:first-child {
      margin-block-start: 0;
    }
  }

  mark {
    border-radius: calc(var(--radius) - 4px);
    background: oklch(0.945 0.129 101.54);
    padding-inline: 0.25rem;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  h1 {
    margin: 2.5rem 0 1.5rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  h2 {
    margin: 2rem 0 1.25rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  h3 {
    margin: 1.5rem 0 1rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  h4 {
    margin: 1.25rem 0 0.75rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  h5 {
    margin: 1rem 0 0.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  h6 {
    margin: 1rem 0 0.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  strong,
  b {
    font-weight: 600;
  }
  em,
  i {
    font-style: italic;
  }
  p {
    margin-bottom: 1rem;
  }

  :not(pre) > :is(code, samp) {
    border-radius: calc(var(--radius) - 4px);
    background: var(--secondary);
    padding: 0.125rem 0.25rem;
    font-family:
      ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
      "Courier New", monospace;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  pre {
    margin-bottom: 1rem;
    overflow-x: auto;
    border-radius: calc(var(--radius) - 2px);
    background: var(--secondary);
    padding: 1rem;
    font-family:
      ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
      "Courier New", monospace;
    white-space: pre;

    & code {
      font-size: 0.875rem;
      line-height: 1.25rem;
      user-select: all;
    }
  }

  blockquote {
    margin-block: 1rem;
    border-inline-start: 4px solid var(--border);
    padding-inline-start: 1rem;
    color: var(--muted-foreground);
    font-style: italic;
  }

  hr {
    margin-block: 2rem;
  }

  ul,
  ol {
    margin-bottom: 1rem;
    padding-inline-start: 1.5rem;

    & li {
      margin-bottom: 0.25rem;
    }
  }
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }

  a[href]:not(:is(.button, .item)) {
    display: inline-block;
    color: var(--foreground);
    text-decoration-line: underline;
    text-underline-offset: 4px;
    transition: all 100ms;

    &:active {
      translate: 0 1px;
    }
  }

  kbd {
    pointer-events: none;
    display: inline-flex;
    height: 1.25rem;
    width: fit-content;
    min-width: 1.25rem;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    border-radius: calc(var(--radius) - 4px);
    background: var(--muted);
    padding-inline: 0.25rem;
    color: var(--muted-foreground);
    font-family: ui-sans-serif, system-ui, sans-serif;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500;
    user-select: none;

    & svg:not([class*="size-"]) {
      width: 0.75rem;
      height: 0.75rem;
    }
  }

  s,
  del {
    color: var(--muted-foreground);
  }

  u,
  ins,
  abbr,
  a[href] {
    text-decoration-color: color-mix(in oklab, var(--primary) 20%, transparent);
    text-underline-offset: 4px;

    &:is(a[href]):hover {
      color: var(--primary);
      text-decoration-color: var(--primary);
    }
  }
}
